body {
    background-image: url("images/yellow-parchment.jpg");
}

.quote_results>div {
    background-image: url("images/white-parchment.jpg");
    color: rgb(37, 37, 37);
    padding: 10px;
    margin: 15px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.quote_results>div>p {
    font-family: 'Meie Script', cursive;
    font-size: 30px;
    font-weight: bold;
}

.quote_results>div>h3 {
    text-align: right;
}

.main_header {
    background-color: rgb(53, 43, 37);
    color: rgb(255, 249, 242);
    width: 60%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    padding: 10px;
}

.main_header>h1 {
    text-align: center;
    font-family: 'Meie Script', cursive;
    font-size: 50px;
    font-weight: bold;

}

#link {
    color: rgb(255, 249, 242);
}

#link:hover {
    color: rgb(193, 225, 233);
}

@media only screen and (max-width: 767px) and (min-width: 0px) {
    .main_header {
        background-color: rgb(53, 43, 37);
        color: rgb(255, 249, 242);
        width: 90%;
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
        padding: 10px;
    }

    .main_header>h1 {
        text-align: center;
    }

    .quote_results>div>p {
        font-family: 'Meie Script', cursive;
        font-size: 25px;
    }
}